extends ../layout

block content
  div(class='addForm')
    h2 Edit Article
    form(method='POST', action='add', enctype='multipart/form-data')
      div(class='inputName') Title:
      div
        input(type='text', name='title', value='#{renderObject.article.title}')
      div(class='inputName') Content:
      div
        textarea(type='text', name='content') #{renderObject.article.text}
      button(class='btnAdd') Save
