extends ../layout

each article in articles
    block content
        div(class="articleBox")
          span(class='articleDate') #{article.publishDate.toDateString()}
          h2(class='articleTitle') #{article.title} 
          p #{article.text}

