extends ../layout

each article, i in articles
    block content    
	    div(class='articleBox')
	      span(class='articleDate') #{article.publishDate}
	      h2(class='articleTitle') #{article.title} 
	      p #{article.text}