body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header a{ margin: 2% auto;}
.addForm {
  width: 50%;
  margin: 0 auto;
}

.inputName {
    color:#c3c3c3;
    font-style: italic;
    font-size: 16px;
    margin: 0 0 4px 0;
}

.addForm input, .addForm textarea, .addForm select {
    width: 100%;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #cfcfcf;
    background-color: #fff;
    margin: 0 0 20px 0;
    resize: none;
    outline: none;
}

.addForm textarea {
    height: 134px;
}

.addForm select {
    width: 104.1%;
}

.btn {
  color: #fff;
  text-decoration: none;
  user-select: none;
  padding: .7em 1.5em;
  width: 15%;
  font-size: 16px;
  margin: 0 0 20px 0;
  display: block;
  height: 20px;
  text-align: center;
} 
.btn.edit:hover { background: rgb(75, 122, 198); } 
.btn.edit:active { background: rgb(0, 69, 181); } 
.btn.edit { background: rgb(2, 87, 224); }

.btn.delete:hover { background: rgb(232,95,76); } 
.btn.delete:active { background: rgb(152,15,0); } 
.btn.delete { background: rgb(212,75,56); }

.btnAdd {
    color: #fff;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: .7em 3.7em;
    display: block;
    background: rgb(0, 160, 58);
}

.articleBox{
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0 30px 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #cfcfcf;
    white-space: pre-line;
}
.articleBox .articleImg{
    width: 100%;
}
.articleBox .articleDate{
    float: right;
    font-size: 12px;
    color: #CCC;
    margin: 23px 0 00;
}